<div *ngIf="customersPaged$ | async as customersPaged; else loading">
  <div class="mb-1">
    <app-filter
      (keywordChange)="filterCustomers($event)"
      (activeFiltersChange)="changeFilters($event)"
    ></app-filter>
  </div>
  <div class="mb-1">
    <app-sum-comparison
      (higherLowerChange)="changeHigherLower($event)"
      (sumComparisonChange)="filterSum($event)"
    ></app-sum-comparison>
  </div>
  <div class="mb-1">
    <app-grid [customers]="customersPaged.customers"></app-grid>
  </div>
  <div class="mt-1">
    <app-pagination
      (pageIndexChange)="changePageIndex($event)"
      (pageSizeChange)="changePageSize($event)"
      [pageCount]="customersPaged.pageCount"
      [pageIndex]="customersPaged.pageIndex"
    ></app-pagination>
  </div>
</div>
<ng-template #loading><app-spinner></app-spinner></ng-template>
