<div class="grid">
  <div class="grid-header">
    <h6 class="bg-dark text-white">First Name</h6>
    <h6 class="bg-dark text-white">Last Name</h6>
    <h6 class="bg-dark text-white">Account Number</h6>
    <h6 class="bg-dark text-white">Sum of Total Due</h6>
    <h6 class="text-dark">Edit</h6>
  </div>

  <form
    [formGroup]="form"
    *ngFor="let customer of customers"
    (ngSubmit)="onSubmit()"
  >
    <div class="grid-row" (click)="toggleEditing(customer)">
      <div>
        <app-editable-field
          [placeholder]="{ name: 'firstName', value: customer.firstName }"
          [editing]="editId === customer.customerId"
          [parentForm]="form"
        ></app-editable-field>
      </div>
      <div>
        <app-editable-field
          [placeholder]="{ name: 'lastName', value: customer.lastName }"
          [editing]="editId === customer.customerId"
          [parentForm]="form"
        ></app-editable-field>
      </div>
      <div>{{ customer.accountNumber }}</div>
      <div>{{ customer.sumOfTotalDue }}</div>
    </div>
    <div class="div-edit">
      <span
        *ngIf="editId !== customer.customerId; else submitButtons"
        (click)="toggleEditing(customer)"
        ><i class="fa fa-edit"></i
      ></span>
      <ng-template #submitButtons>
        <button
          type="submit"
          class="btn btn-success btn-sm mr-1"
          [disabled]="!form.dirty"
        >
          Save
        </button>
        <button class="btn btn-danger btn-sm" (click)="onReset()">
          Cancel
        </button>
      </ng-template>
    </div>
  </form>
  <div>
    <h4 class="text-muted" *ngIf="!customers.length">
      No data matches your search...
    </h4>
  </div>
</div>
